body {
  font-family: 'Inter', serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  color: #373737;
}

.mobile-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 24px;
  padding-right: 24px;
}

#slider,
#sliderDesktop,
.carousel-inner.desktop>img {
  opacity: 1;
  transition: opacity 1s
}


.section-1 {
  background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/hero.jpg');
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.section-1.mobile-wrapper {
  padding-top: 0;
}

.section-1 .logo>img {
  width: 80px;
}

.section-1 button {
  width: 350px;
}

.headline {
  font-size: 26px;
  font-weight: 700;
  margin-top: .5rem;
  position: relative;
}

.sub-head {
  margin: 1rem 0rem 2rem 0rem;
}

.section-1 h6,
.section-2 h6,
.section-3 h6,
.section-4 h6,
.section-5 h6,
.section-5 h6,
.section-6 h6,
.section-7 h6,
.section-8 h6,
.section-9 h6 {
  margin: 0;
}

.section-1 .headline {
  text-shadow: 0px 4px 12px rgba(0, 0, 0, .5);
  color: white;
  margin: .5rem 0 .75rem 0;
}

.section-1 .sub-head {
  color: white;
}

header {
  padding-top: 12px;
  margin-bottom: -3.5rem;
}

.dean img {
  text-align: center;
  width: 80%;
}

.cta {
  display: flex;
  justify-content: center;
}

.section-1 .cta-and-arrow {
  position: relative;
}

.section-1 .cta-and-arrow .cta-arrow {
  position: absolute;
  top: -1.5rem;
  right: 0;
  margin-right: -24px;
  z-index: 999;
}

.section-1 .cta-and-arrow .cta-arrow img {
  width: 80px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: .5rem 1rem;
  width: 300px;
  gap: .25rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, .25);
  outline: none;
  font-size: .8rem;
  letter-spacing: .01rem;
  transition: 200ms ease-in;
  top: 0;
}

button:focus {
  outline: 0;
}

button:hover {
  /* top: -.25rem; */
  cursor: pointer;
  position: relative;
}

button img {
  width: 20px
}

button.red {
  background-color: #C62034;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #9E0518;
  color: white;
}

button.orange {
  background-color: #EF7822;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #FB9830;
  color: white;
}

button.white {
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

.checkmarks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0rem;
  font-size: .75rem;
}

.checkmark {
  display: flex;
  align-items: center;
  gap: .25rem;
  position: relative;
  z-index: 2;
}

.checkmark-icon {
  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C62034;
  border-radius: 50%;
  width: .75rem;
  height: .75rem;
  padding: 8px; */
  font-size: 1.2rem;
  color: #C62034;
  position: relative;
  z-index: 1;
}

.checkmark-icon::before {
  content: "";
  background-color: white;
  border-radius: 50%;
  position: absolute;
  height: 10px;
  width: 10px;
  z-index: -1;
  top: 10px;
  left: 5px;
}

.page-break {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-break h6 {
  font-weight: bold;
  font-size: 13px;
}

.highlights>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  position: relative;
  margin-top: .5rem;
}

.highlights>div::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #C62034;
  height: 70%;
}

.highlights>div:nth-child(4)::after {
  border: none;
}

.highlights>div>h5 {
  font-weight: bold;
  font-size: 1rem;
}

.highlights>div>p {
  font-size: 10px;
  color: #6D6D6D;
}

.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7,
.section-8,
.section-9 {
  position: relative;
}

.section-2.mobile>.headline,
.section-2.mobile>.discussed {}

.section-2::before {
  content: "";
  background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-2-bg+(1).png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .2;
  z-index: -1;
}

.section-2 .discussed,
.section-3 .discussed,
.section-4 .discussed,
.section-5 .discussed,
.section-6 .discussed,
.section-7 .discussed,
.section-8 .discussed,
.section-9 .discussed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
}

.section-2 .discussed>div>i,
.section-3 .discussed>div>i,
.section-4 .discussed>div>i,
.section-5 .discussed>div>i,
.section-6 .discussed>div>i,
.section-7 .discussed>div>i,
.section-8 .discussed>div>i,
.section-9 .discussed>div>i {
  color: #C62034;
}

.section-2 p,
.section {
  color: #6D6D6D;
  font-size: 12px;
}

.section-2 .sub-head {
  color: #6D6D6D;
}

.section-2 .carousel img {
  margin-top: 1rem;
  margin-bottom: .5rem;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .5);
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-inner {
  position: relative;
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-inner>div {
  overflow: hidden;
}

.carousel-inner>img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.section-3 *,
.section-5 * {
  color: white;
}

.section-3 .sub-bead {
  color: white;
}

.section-3.mobile>.headline,
.section-3.mobile>.discussed {
  opacity: 0;
}

.section-3 p,
.section-4 p,
.section-5 p,
.section-6 p,
.section-7 p,
.section-8 p,
.section-9 p {
  font-size: 12px;
}

.section-3::before {
  content: "";
  background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-3-bg+(1).png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
}

.section-3::after {
  content: '';
  background-color: #C62034;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .5;
  z-index: -1;
}

.section-3>.items,
.section-4>.itinerary>ul {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  list-style: none;
  text-align: left;
  padding: 0rem 0;
  margin-top: 1rem;
}

.section-3>.items>ul {
  margin-top: 0;
  padding-top: 0;
}

.section-3>.items>.item,
.section-4>.itinerary>.items>.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.section-3>.items>.item>img {
  width: 31px;
  height: 32px;
}

.section-4.mobile-wrapper {
  padding-bottom: 0;
}

.section-4>.itinerary>.items>.item>i {
  color: #C62034;
}

.section-4 .map {
  width: 100%;
}

.section-4 .itinerary {
  background-color: rgb(249, 249, 249);
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-top: 1rem;
  padding: 1.5rem;
}

.section-4.mobile>.itinerary>ul,
.section-4.desktop>.row>.right>.itinerary>ul {
  display: none;
}

.section-4>.itinerary>ul.active,
.section-4.desktop>.row>.right>.itinerary>ul.active {
  display: flex;
}

.section-4 .itinerary .days {
  display: flex;
  gap: .25rem;
  justify-content: center;
  flex-wrap: wrap;
}

.section-4 .itinerary .days>span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C62034;
  border-radius: 50%;
  width: .4rem;
  height: .4rem;
  font-size: 12px;
  font-weight: bold;
  color: #C62034;
  padding: .65rem;
  transition: all 200ms ease-in;
}

.section-4 .itinerary .days>span:hover {
  cursor: pointer;
  background-color: rgb(232, 232, 232)
}

.section-4 .itinerary .days>span.active {
  background-color: #C62034;
  color: white;
}

.section-5::before {
  content: "";
  background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-5-bg+(1).png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
}

.section-5 video {
  margin-top: 1.5rem;
  border-radius: 5px;
  width: 100%;
}

.section-5 .services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: .5rem;
  row-gap: .5rem;
  margin: 1rem 0;
}

.section-5 .services>div>i {
  color: #C62034;
  font-size: 1.2rem;
}

.section-5 .services>div {
  background-color: #fff;
  border-radius: 5px;
  padding: .5rem;
  transition: all 200ms linear;
}

.section-5 .services>div:hover {
  cursor: pointer;
  background-color: #C62034;
}

.section-5 .services>div:hover>i {
  color: white;
}

.section-5 .services>.active {
  background-color: #C62034;
}

.section-5 .services>.active i {
  color: white;
}

.section-6 {
  /* background-color: #C62034; */
  z-index: 1;
  overflow: hidden;
}

.section-6::before {
  content: '';
  background-color: #C62034;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.section-6::after {
  content: "";
  /* background-image: url('../public/imgs/section-6-bg.png'); */
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: -3rem;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
}

.section-6 h1,
.section-6 p {
  color: white;
}

.section-6 .discussed div i {
  color: white;
}

.section-6 .summit {
  margin-left: -24px;
  margin-right: -24px;
  position: relative;
}

.section-6 .summit>img {
  width: 100%;
  display: block;
  z-index: 999;
}

.section-6 .summit::after {
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.section-6 .faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -24px;
  margin-right: -24px;
  gap: 1rem;
  padding: 1.5rem 0;
}

.section-6 .faqs h6 {
  font-weight: bold;
}

.section-6 .faq {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  background-color: white;
  color: inherit;
  border-radius: 5px;
  width: 90%;
  position: relative;
}

.section-6 .faqs .faq p {
  color: inherit;
  text-align: left;
  line-height: 1.3rem;
}

.section-6 .faq p {
  display: none;
}

.section-6 .faq:hover {
  cursor: pointer;
}

.section-6 .faq div>i:nth-child(2),
.section-6 .faq.active div>i:nth-child(3) {
  display: none;
}

.section-6 .faq div>i:nth-child(3),
.section-6 .faq.active div>i:nth-child(2) {
  display: block;
}


/* .section-6 .faq.active i:nth-child(2) {
  display: block;
} */

.section-6 .faqs>div:first-child {
  border-radius: 0;
}

.section-6 .faq div:first-child {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.section-6 .faq h6 {
  flex: 2;
  font-size: .9rem;
}

.section-6 .faq.active p {
  color: #373737;
}

.section-6 .faq:nth-child(1) i {
  color: #C62034;
}

.section-6 .faq.active h6 {
  color: #373737;
  flex: 2;
}

.section-6 .faq.active>div i {
  color: lightgray;
}

.section-6 .faq i {
  color: #C62034;
}

.section-6 .faqs .faqs-title {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  background-color: white;
  color: inherit;
  border-radius: 5px;
  width: 90%;
  position: relative;
  background-color: white;
  border-top: 3px solid #C62034;
  padding: 1rem .5rem;
}

.section-6 .faqs .faqs-title div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.section-6 .faqs .faqs-title h6 {
  font-size: .8rem;
}

.section-6 .faqs .faq h6 {
  font-size: .8rem;
}

.section-7 {
  background-color: #ECECEC;
  z-index: 1;
}

.section-7:before {
  content: "";
  background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-7-bg+(1).png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.section-7::after {
  background-size: contain;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .7;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url('../public/imgs/section-7-bg-overlay-desktop.png'); */
  background-color: black;
  z-index: -1;
}

.section-7 .headline,
.section-7 .discussed p {
  color: white;


}

.section-7 .testimonials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  z-index: 999;
  padding-bottom: 2rem;
}

.section-7 .testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, .2);
  border: 1px solid lightgray;
  z-index: 999;
  position: relative;
  overflow: hidden;
}

.section-7 .testimonials>.testimonial::after {
  content: "";
  background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/logo-desktop+(1).png');
  height: 150px;
  width: 150px;
  position: absolute;
  background-size: 100%;
  bottom: -1.5rem;
  right: -1.5rem;
  opacity: .05;
}

.section-7 .testimonial .badge {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.section-7 .testimonial .badge div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #fff;
}

.section-7 .testimonial .badge div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  text-align: left;
}

.section-7 .testimonial .badge div:nth-child(2) p {
  font-weight: normal;
  color: #9b9b9b;
}

.section-7 .testimonial .badge h6 {
  font-size: .8rem;
}

.section-8::before {
  content: "";
  background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-8-bg+(1).png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
}

.section-8::after {
  content: '';
  background-color: #FF8300;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .8;
  z-index: -1;
}

.section-8 p,
.section-8 h1 {
  color: white;
}

.section-8 .gallery {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: .5rem;
  position: relative;
}

.section-8 .gallery::after {
  content: "";
  /* background-image: url('../public/imgs/hop-badge.png'); */
  height: 89px;
  width: 89px;
  position: absolute;
  top: -2rem;
  left: -1rem;
}

.section-8 .gallery .images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.section-8 .gallery .images .image img {
  width: 100%;
  margin-bottom: .25rem;
  width: 150px;
  height: 100px;
}

.section-8 .gallery .images .image img:hover {
  cursor: pointer;
}

.section-8 .gallery .images>.image.active {
  border-bottom: 4px solid rgb(255, 255, 255);
  /* padding: .25rem 0; */
}

.section-9 {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.section-9 .video.active {
  margin: 1rem 0 .5rem 0;
}

.section-9 .videos {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: relative;
  border: 6px solid rgba(198, 32, 52, .8);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  padding: 6px 0;
  /* margin-left: -24px;
  margin-right: -24px; */
  border-left: none;
  border-right: none;
  margin-bottom: 1rem;
}

.section-9 .videos .video.active img {
  width: 100%;
}

.section-9 .videos .carousel {
  display: flex;
  gap: .25rem;
}

.section-9 .videos .carousel .video img {
  width: 100%;
}

.center {
  text-align: center;
}

.footer {
  padding: 2rem 1.5rem;
  border-top: 6px solid #C62034;
}

.footer a:link {
  color: inherit;
  text-decoration: none;
  transition: all 200ms linear
}

.footer a:visited {
  color: inherit;
}

.footer a:active {
  color: inherit;
}

.footer a:hover {
  color: #C62034;
}

.footerUl>li>a>i {
  color: #C62034;
  margin-right: .5rem;
}

/* small 576px to 768px */
@media screen and (min-width: 576px) {
  .section-1 .cta-and-arrow {
    position: relative;
  }

  .section-1 .cta-and-arrow .cta-arrow {
    position: absolute;
    top: -2.5rem;
    right: 0;
  }

  .section-1 .cta-and-arrow .cta-arrow img {
    width: 130px;
  }
}

/* medium 768px to 992px */
@media screen and (min-width: 768px) {
  .mobile-wrapper {}

  header {
    margin-bottom: 0;
  }

  button {
    font-size: 1rem;
  }

  button img {
    width: 35px
  }

  button.red {
    border: 2px solid #9E0518;
  }


  .section-1 .logo>img {
    width: 125px;
  }

  .section-1 .headline,
  .section-2 .headline,
  .section-3 .headline,
  .section-4 .headline,
  .section-5 .headline,
  .section-6 .headline,
  .section-7 .headline,
  .section-8 .headline,
  .section-9 .headline {
    font-size: 70px;
    line-height: 72px;
  }

  .section-1 .left {
    margin-top: 5.5rem;
  }

  .sub-head {
    text-shadow: 0 1 1 rgba(0, 0, 0, 55%);
  }

  .left p,
  .right p {
    line-height: 25px;
  }

  .checkmarks {
    font-weight: bold;
  }

  .checkmarks {
    padding: 1rem 0rem;
  }

  .dean img {
    text-align: center;
    width: 100%;
  }

  .page-break h3 {
    font-weight: bold;
  }

  .page-break .highlights>div:nth-child(4)::after {
    border-left: 1px solid #C62034;
  }

  .highlights>div:nth-child(5)::after {
    border: none;
  }

  .section-2 p,
  .section-3 p,
  .section-4 p,
  .section-5 p,
  .section-6 p,
  .section-7 p,
  .section-8 p {
    font-size: 16px;
  }

  .highlights>div>p {
    font-size: 14px;
    color: #6D6D6D;
  }

  .section-5 .services>div>i {
    color: #C62034;
    font-size: 1.5rem;
  }

}

/* large 992px to 1200px */
@media screen and (min-width: 992px) {


  .section-1 .cta-and-arrow {
    position: relative;
  }

  .section-1 .cta-and-arrow .cta {
    justify-content: flex-start;
  }

  .section-1 .cta-and-arrow .cta-arrow {
    position: absolute;
    top: -2rem;
    right: -8rem;
  }

  .section-1 .cta-and-arrow .cta-arrow img {
    width: 60%;
  }

  .sub-head {
    margin: 1rem 0 2rem 0;
    width: 90%;
  }

  .section-2 button,
  .section-3 button,
  .section-4 button,
  .section-5 button,
  .section-6 button,
  .section-8 button {
    width: 100%;
  }

  .section-2::before {
    content: "";
    background-image: none;
  }

  .page-break {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .section-2 {
    margin-bottom: 2rem;
  }

  .checkmarks {
    justify-content: flex-start;
  }

  .section-2 .right::before {
    content: "";
    background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-2-right-bg-desktop+(1).png');
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: .3;
    height: 90%;
    transform: translate(0px, 5%);
  }

  .section-2 .discussed,
  .section-3 .discussed,
  .section-5 .discussed,
  .section-6 .discussed,
  .section-8 .discussed {
    justify-content: flex-start;
  }

  .section-2 h1 {
    font-size: 43px;
    line-height: 47px;
  }

  .section-2 .sub-head {
    font-size: inherit;
  }

  .section-2 .right,
  .section-3 .left,
  .section-3 .right {
    display: flex;
  }

  .section-2 .right>div,
  .section-3 .left>div,
  .section-3 .right>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
  }

  .section-2 .left.col-6 {
    padding: 0;
  }

  .section-2 .right>div,
  .section-2 .left>div {
    height: 840px;
  }

  .carousel {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .carousel:after {
    /* content: '';
      background-color: rgba(221, 221, 221, 0.415);
      width: 100%;
      height: 80%;
      position: absolute;
      top: 10%;
      left: 0;
      z-index: -1; */
  }

  .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .carousel-inner>img {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    right: 0;
  }

  .section-3::before {
    content: "";
    background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-3-bg-desktop+(1).png');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }

  .section-3 .right>div {
    height: 840px;
  }

  .section-3>.row>.right>div>.items,
  .section-4>.row>.right>div>.items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    text-align: left;
    padding: 1.5rem 0;
  }

  .section-3>.row>.right>div>.items>.item,
  .section-4>.row>.right>.itinerary>.items>.item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .section-3>.row>.right>div>.items>.item>img,
  .section-4>.row>.right>.itinerary>.items>.item>img {
    width: 46px;
    height: 38px;
  }

  .section-3>.row>.right>div>.items>.item>p,
  .section-4>.row>.right>.itinerary>.items>.item>p {
    line-height: 25px;
  }

  .section-4 .itinerary {
    background-color: transparent;
    border: none;
  }

  .section-4 .itinerary>h5 {
    padding-bottom: .5rem;
    border-bottom: 1px solid #C62034;
  }

  .section-4>.row>.right>.itinerary>.items>.item>i {
    color: #C62034;
  }

  .section-4>.row>.right>.itinerary>.items>.item>p {
    color: #6a6a6a;
  }

  .section-4>.row>.right>.itinerary>.days {
    justify-content: flex-start;
  }

  .section-4.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section-4 .headline {
    text-align: center;
    margin-bottom: 3rem;
  }

  .section-4 .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .section-4 .row .left h6 {
    text-align: center;
    position: relative;
    font-weight: bold;
    top: -4rem;
    font-size: 1.2rem;
  }

  .section-4 .row .left>img {
    width: 100%;
  }

  .setion-4 .highlights {
    margin-top: 3rem;
  }

  .section-4 .highlights p {
    color: #C62034;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .section-4 .itinerary .days {
    gap: .5rem;
  }

  .section-5::before {
    content: "";
    background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-5-bg-desktop+(2).png');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }

  .section-5 .left {
    padding: 0;
  }

  .section-5 .services {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3;
  }

  .section-5 .left>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 960px;
  }

  .section-5 .slideout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    padding: 3rem;
  }

  .section-5 .right>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    height: 960px;
  }

  .section-5 .slideout h5 {
    color: #373737
  }

  .section-5 .slideout p {
    color: #6a6a6a;
    margin-top: 0;
  }

  .section-6::after {
    background-image: none;
  }

  .section-6 .left {
    background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-6-bg-desktop+(1).png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -10rem;
  }

  .section-6 .left>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    height: 960px
  }

  .section-6 .right>div:nth-child(1)>img {
    width: 100%;
  }

  .section-6 .right {
    padding: 0;
    background-color: #ECECEC;
  }

  .section-6 .faqs {
    margin-top: -10rem;
    position: relative;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .section-6 .faq {
    background-color: #C62034;
  }

  /* .section-6 .faq.active p {
      display: block;
  } */

  .section-6 .faq:nth-child(1) h6 {
    color: #373737;
  }

  .section-6 .faq div>h6 {
    color: #fff;
  }

  .section-6 .faq i {
    color: white;
  }

  .section-6 .faq.active>div i {
    margin-right: -1rem;
  }


  .section-6 .faq.active {
    background-color: white;
    border-bottom: 2px solid #C62034;
  }

  .section-6 .faq.active p {
    color: #373737;
    font-size: .9rem;
  }

  .section-6 .faq.active {
    padding: 2rem;
  }

  .section-6 .faqs .faq p {
    color: white;
    font-size: .8rem;
    line-height: 1.3rem;
  }

  .section-7.desktop>.center>.headline,
  .section-7.desktop>.center>.discussed {

    z-index: 999;
  }

  .section-7::before {
    background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-7-bg-desktop+(1).jpg');
    background-size: cover;
    opacity: .5;
  }

  .section-7::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url('../public/imgs/section-7-bg-overlay-desktop.png'); */
    background-color: black;
  }

  .section-7 .headline {
    margin-bottom: 1.5rem;
  }

  .section-7>div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
  }

  .section-7 .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 0;
    position: relative;
    z-index: 999;
    padding: 1rem;
    padding-bottom: 5rem;
  }

  .section-7 .testimonials p {
    font-size: .8rem;
  }

  .section-7>.center>.cta {

    z-index: 999;
  }

  .section-8 .right>div,
  .section-8 .left>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    height: 960px
  }

  .section-8 .left>div {
    width: 90%;
  }

  .section-8 .gallery .images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }

  .section-8 .gallery .images .image img {
    width: 100%;
    margin-bottom: .25rem;
  }


  .section-8 .gallery::after {
    background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/hop-badge-desktop+(1).png');
    height: 130px;
    width: 129px;
    top: -3rem;
    left: -2rem;
  }

  .section-8::before {
    background-image: url('https://world-wide-trekking.s3.us-west-1.amazonaws.com/section-8-bg-desktop+(1).png');
  }

  .section-9 {
    padding-top: 0;
  }

  .section-9 .row {
    position: relative;
  }

  .section-9 .row .video.active {
    width: 100%;
  }

  .section-9 .row .video.active img {
    width: 100;
  }

  .section-9 .title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
  }

  .section-9 .title h1,
  .section-9 .title .sub-head {
    color: #fff;
  }

  .section-9 .title .sub-head {
    width: 100%;
  }

  .section-9 .videos {
    margin-top: .25rem;
    border: none;
    background-color: lightgray;
    padding: 1rem .5rem;
    width: 100%;
  }

  .section-9 .videos .carousel {
    display: flex;
    justify-content: space-around;
  }

  .section-9 .video.active {
    margin: 0rem 0 .5rem 0;
  }

  .footer {
    padding: 2rem 0;
    border-top: 6px solid #C62034;
  }


}

/* x-large 1200px to 1400px */
@media screen and (min-width: 1200px) {

  .section-1 .cta-and-arrow .cta-arrow {
    position: absolute;
    top: -5rem;
    right: 2rem;
  }

  .section-1 .cta-and-arrow .cta-arrow img {
    width: 100%;
  }

  .section-2 h1 {
    font-size: 70px;
    line-height: 72px;
  }

}